

.icon-flipped {
  transform: rotate(180deg);
}

.game-icon {
      transition: 0.6s;
        transform-style: preserve-3d;
      
        position: relative;
}

#modal-backdrop.show {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: #000;
  transition: opacity 0.15s linear;
  opacity: 0.5;
}

.modal-content {
  padding: 100px;
}

#logout {
  max-width: 100px;
  font-size: medium;
  padding: 10px !important;
  height: 50px;
}

#game-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin: 0;
  margin-top: 1%;
  padding: 1%;

}

.blurred {
  filter: blur(60px);

}

.box {

  display: inline-block;
  vertical-align: top;
  text-align: center;
  padding: 10px;
  margin: 10px;
  border: 1px solid black;
  width: 75%;
}

.shake {
  animation: shake 0.5s;
}

@keyframes shake {
  0% {
    transform: translate(0, 0);
  }

  10% {
    transform: translate(-10px, 0);
  }

  20% {
    transform: translate(10px, 0);
  }

  30% {
    transform: translate(-10px, 0);
  }

  40% {
    transform: translate(10px, 0);
  }

  50% {
    transform: translate(-10px, 0);
  }

  60% {
    transform: translate(10px, 0);
  }

  70% {
    transform: translate(-10px, 0);
  }

  80% {
    transform: translate(10px, 0);
  }

  90% {
    transform: translate(-10px, 0);
  }

  100% {
    transform: translate(0, 0);
  }
}

@keyframes backgroundColorPalette {
  0% {
    background: #ee6055;
  }

  25% {
    background: #60d394;
  }

  50% {
    background: #aaf683;
  }

  75% {
    background: #ffd97d;
  }

  100% {
    background: #ff9b85;
  }
}

#testbox {

  animation-name: backgroundColorPalette;
  animation-duration: 0.2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#timer-btn {
  /* no border */
  border: none;
  max-width: 300px;
  position: fixed;
  z-index: 99;
  top: 5%;
  right: 5%;
}

#instructions-div {

  max-width: 700px;
  margin: auto;

}

body {
  text-align: center;
  font-family: consolas, monospace;
  margin-top: 1%;
  margin-bottom: 20px;
}



.game-title {
  color: black;
}

.instructions-paragraph {
  text-align: auto; 
  margin-top: 3%;
  margin-bottom: 5%;
  font-size: 16px;
  line-height: 1.8;
}

#how-to-play {
  margin-top: 3%;
  margin-left: 10%;
  margin-right: 10%;
  font-size: 20px;
}

.btn {
  display: inline-block;
  color: white;
  padding: 20px;
  align-items: center;
  border-radius: 10px;
  font-size: 20px;
  text-transform: uppercase;
  border: 2px solid black;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  cursor: pointer;
  text-decoration: none;
  width: 40%;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

button:active {
  background-color: #16bc13;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}


.levelBtn{
  width: 20%;
  background-color: rgb(113, 59, 32);
}
.levelBtn:active {
  background-color:rgb(191, 66, 8);
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
#btn-play {
  background-color: purple;
}
#instruction-btn {
  background-color: rgb(49, 196, 49);
}
#settings-btn {
  background-color: rgb(0, 98, 255);
}
#leaderboard-btn{
  background-color: red;
}
